<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <%= stylesheet_link_tag "rtheme/rforum/application" %>
  <%= yield :styles %>
  <%= csrf_meta_tag %>
<% if mobile? %>
    <%= stylesheet_link_tag "mobile" %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content='True' name='HandheldFriendly' />
    <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
  <% end %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta charset='utf-8'>
  <link rel="shortcut icon" href="<%= asset_path("rtheme/w090-truck.png") %>" /> 
  <%= csrf_meta_tag %>
  <%#= auto_discovery_link_tag(:rss,feed_topics_url,:title => '订阅最新贴') %>
  <%= yield :node_feed_link %>
</head>

<%= render_body_tag %>
    <%= render "rtheme/common/navbar" %>

  <div class="container">
    <%= render_breadcrumb %>

    <%= notice_message %>
    <div id="main" class="container-fluid">
      <%= yield %>
    </div>
  </div>
  <% if not mobile? %>
  <footer class="footer">
    <div class="container">
      <%= raw Rforum::SiteConfig.footer_html %>
    </div>
  </footer>
  <% end %>

  <%= javascript_include_tag "rtheme/rforum/app" %>
  <% if mobile? %>
    <script type="text/javascript">app_mobile = true;</script>
  <% end %>
  <%= yield :scripts %>
  <%= render :partial => "rtheme/common/google_analytics"%>
  
</body>
</html>
