<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <%= stylesheet_link_tag "rtheme/rmain/application" %>
  <%= yield :styles %>
  <% if mobile? %>
    <%= stylesheet_link_tag "rtheme/mobile" %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content='True' name='HandheldFriendly' />
    <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
  <% end %>

  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta charset='utf-8'>
  <link rel="shortcut icon" href="<%= asset_path("rtheme/w090-truck.png") %>" /> 

  <%= csrf_meta_tag %>
  <%= auto_discovery_link_tag(:rss,rforum.feed_topics_url,:title => '订阅最新帖') %>
  <%= yield :node_feed_link %>
</head>
<%= render_body_tag %>

    <%= render "rtheme/common/navbar" %>
  <div class="container">
    <%= render_breadcrumb %>
    <%= render "rtheme/common/feeds" %>

    <%= notice_message %>
    <div id="main" class="container-fluid">
      <%= yield %>
    </div>    
  </div>
  
  <% if not mobile? %>
  <a class="go_top" href="#"><i class="icon icons_go_top"></i></a>
  <footer class="footer">
    <div class="container">
      <%= raw SiteConfig.footer_html %>
    </div>
  </footer>
  <% end %>
  
  <%= javascript_include_tag "rtheme/rmain/application" %>
  <% if mobile? %>
    <script type="text/javascript">app_mobile = true;</script>
  <% end %>
  <%= yield :scripts %>
  <%= render :partial => "rtheme/common/google_analytics"%>
  
</body>
</html>
