<h1>Listing cities</h1>

<table>

  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Coordinates</th>
    <th>Loc</th>
    <th>Address</th>
    <th>region</th>
    <th>nav</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @cities.each do |city| %>
  <tr>
    <td><%= city.code %></td>
    <td><%= city.name %></td>
    <td><%= city.lat %></td>
    <td><%= city.lng %></td>
    <td><%= city.coordinates %></td>
    <td><%= city.loc %></td>
    <td><%= city.address %></td>
 <td><%= city.region.name %></td>
 <td><%= link_to 'city_nav', city_nav_path(city.code) %></td>
    <td><%= link_to 'Show', city %></td>
    <td><%= link_to 'Edit', edit_city_path(city) %></td>
    <td><%= link_to 'Destroy', city, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New City', new_city_path %>
