

  <ul id="tab" class="nav nav-tabs">
   <li><a href="#basic_info" data-toggle="tab"><%= t("stock_trucks.basic_profile")%></a>
   </li>
   <li><a href="#conact_manage" data-toggle="tab"><%= t("stock_trucks.contact")%></a>
   </li>
   <li ><a href="#picture_manage" data-toggle="tab"><%= t("stock_trucks.truck_picture")%></a>
   </li>
   <li ><a href="#dingwei_manage" data-toggle="tab"><%= t("stock_trucks.dingwei")%></a>
   </li>  
  </ul>
   <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="basic_info">
      <div class="basic_info"> 
        <table>
       <tr><td>牌照:</td><td> <%=@stock_truck.paizhao%></td></tr>
       <tr><td>吨位:</td><td> <%=@stock_truck.dunwei%></td></tr>
       <tr><td>车长:</td><td> <%=@stock_truck.length%></td></tr>
       <tr><td>用途:</td><td> <%=@stock_truck.usage%></td></tr>
       <tr><td>车厢:</td><td> <%=@stock_truck.shape%></td></tr>
       <tr><td>来源:</td><td> <%=@stock_truck.isself%></td></tr>
       <tr><td>长跑城市:</td><td> <%=@stock_truck.favoc%></td></tr>
       <tr><td>长跑线路:</td><td> <%=@stock_truck.favol%></td></tr>
        <tr><td>卡车牌子:</td><td> <%=@stock_truck.pinpai%></td></tr>
       <tr><td>卡车型号:</td><td> <%=@stock_truck.xinghao%></td></tr>
       <tr><td>购买年份:</td><td> <%=@stock_truck.buyedat%></td></tr>

  </table>
 </div>
</div>
  <div class="tab-pane fade in " id="conact_manage">
      <div class="conact_manage"> 
   <table>
<tr><td>业务员:</td> <td>  <%= @stock_truck.business %></td></tr>

<tr><td>业务员电话:</td><td>  <%= @stock_truck.bphone %></td></tr>
<tr><td>司机:</td><td>  <%= @stock_truck.driver %></td></tr>
<tr><td>司机电话:</td><td>  <%= @stock_truck.dphone %></td></tr>
<tr><td>车主:</td><td>  <%= @stock_truck.owner %></td></tr>
<tr><td>车主电话:</td><td>  <%= @stock_truck.ophone %></td></tr>
 </table>
      </div>
    </div>
    <div class="tab-pane fade in " id="picture_manage">
      <div class="picture_manage"> 
      正在开发中 
      </div>
    </div>
   <div class="tab-pane fade in " id="dingwei_manage">
    <div class="dingwei_manage"> 
<table>
 <tr> <td>绑定</td><td><%= @stock_truck.bind%></td></tr>
</table>
    </div>
   </div>
   </div>






<!--
<%#= link_to 'Edit', edit_stock_truck_path(@stock_truck) %> |
<%#= link_to 'Back', stock_trucks_path %>
-->

<p id="notice"><%= notice %></td>