<h1>Home#root</h1>
<p>Find me in app/views/rcity/home/root.html.erb</p>

<h2>Home</h2>
<%=link_to "rcity home",rcity.root_path%>

<h2>Country</h2>
<%=link_to "contries",rcity.countries_path%>
<%=link_to "new_contry",rcity.new_country_path%>

<h2>Province</h2>
<%=link_to "Provinces",rcity.provinces_path%>
<%=link_to "new_pronvce",rcity.new_province_path%>

<h2>Regions</h2>
<%=link_to "regions",rcity.regions_path%>
<%=link_to "new_region",rcity.new_region_path%>

<h2>Cities</h2>
<%=link_to "Cities",rcity.chengs_path%>
<%=link_to "new_city",rcity.new_cheng_path%>

<h2>Cities Other</h2>
  citiesindex        /cities/:dir(/:code)(.:format)                          rcity/cities#index
  citiesmodal        /cities/modal/show(/:code)/line/:fcode/:tcode(.:format) rcity/cities#modal
citiesmapcity        /cities/map/show/city/:code(.:format)                   rcity/cities#mapcity
citiesmapline        /cities/map/show/line/:fcode/:tcode(.:format)           rcity/cities#mapline
