<h1>Home#root</h1>
<p>Find me in app/views/rcity/home/root.html.erb</p>
<%=render "rcity/home/rcitynav"%>
<h2>Home</h2>
<%=link_to "rcity home",rcity.root_path%>

<h2>Country</h2>
<%=link_to "contries",rcity.countries_path%>
<%=link_to "new_contry",rcity.new_country_path%>

<h2>Province</h2>
<%=link_to "Provinces",rcity.provinces_path%>
<%=link_to "new_pronvce",rcity.new_province_path%>

<h2>Regions</h2>
<%=link_to "regions",rcity.regions_path%>
<%=link_to "new_region",rcity.new_region_path%>

<h2>Cities</h2>
<%=link_to "Cities",rcity.chengs_path%>
<%=link_to "new_city",rcity.new_cheng_path%>

<h2>LineSelect </h2>

<a class="btn" data-toggle="modal" href="#myModal">Launch Line Select</a>

<div class="modal" id="myModal" style="display:none">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Line Select</h3>

  </div>
  <div id="mytab">
      <ul class="nav nav-tabs" style="margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;">
   <li class="active"><%=link_to t("rcitycommon.rcity_from"),rcity.cheng_lineselect_path(params[:cheng_id]),:"data-toggle"=>"tab",:class=>"lineselect fline"%>
   <li><%=link_to t("rcitycommon.rcity_to"),rcity.cheng_lineselect_path(params[:cheng_id]),:"data-toggle"=>"tab" ,:class=>"lineselect tline"%></li>
  </ul> 
</div>
  <div class="modal-body" style="margin-top:0px;padding-top:0px;">
   <%=render "rcity/chengs/line_select" %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

 


<h2>Cities Other</h2>
  citiesindex        /cities/:dir(/:code)(.:format)                          rcity/cities#index
  citiesmodal        /cities/modal/show(/:code)/line/:fcode/:tcode(.:format) rcity/cities#modal
citiesmapcity        /cities/map/show/city/:code(.:format)                   rcity/cities#mapcity
citiesmapline        /cities/map/show/line/:fcode/:tcode(.:format)           rcity/cities#mapline
