<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @cpanel_cargo_big_category.code %>
</p>

<p>
  <b>Name:</b>
  <%= @cpanel_cargo_big_category.name %>
</p>

  <b>ID:</b>
  <%= @cpanel_cargo_big_category.id %>
</p>



<%= link_to 'Edit', edit_cpanel_cargo_big_category_path(@cpanel_cargo_big_category) %> |
<%= link_to 'Back', cpanel_cargo_big_categories_path %>
