<%= simple_form_for(@cargo,:as=>:cargo,:html => {:class => "form-horizontal"}) do |f| %>

  <% if @cargo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cargo.errors.count, "错误") %></h2>
      <ul>
        <% @cargo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
     <div class="control-label"> <strong class="fname"><%=t("rcitycommon.rcity_init")%></strong>--><strong class="tname"><%=t("rcitycommon.rcity_init")%></strong> </div>

     <div class="controls"> 
       <%=render "rcargo/cargos/cargo_line"%>
       <%=render "rcity/chengs/line_modal"%>
  </div>
  </div>


  <div class="control-group">
     <%= f.label t("cargo.cargo_name"),:html=>{:class=>"control-label"}%>
     <div class="controls"> <%= f.text_field(:name)%>  </div>
  </div>
    
  <div class="control-group">
     <%= f.label t("category.BigcargoCategory"),:html=>{:class=>"control-label"}%>
     <div class="controls"> <%= f.select(:big_cate,options_for_select($big_cate_hash.values,@cargo.big_cate))%>  </div>
  </div>

  <div class="control-group">
    <%= f.label t("package.package"),:html=>{:class=>"control-label"}%>
     <div class="controls">  <%= f.select(:packagen,options_for_select($cargo_package.values,@cargo.packagen) )%>  </div>
  </div>

  
   <div class="control-group">
      <label  class="control-label">重量*</label>
     <div class="controls">  <%= f.text_field :weight %>   </div>
   </div>

    <div class="control-group">
    <%= f.label t("stock_cargo.unit"),:html=>{:class=>"control-label"}%>
   <div class="controls">  <%= f.select(:unit,options_for_select(["吨","方","件","车","船","个"],@cargo.zuhuo) )%>  </div>
  </div>
     
  <div class="control-group">
     <label  class="control-label">有效天数*</label>
     <!--
    <div class="controls">  <%= f.select(:expire,options_for_select([["一天","1"],["当天","0"],["二天","2"],["15天","15"],["一个月","30"],["三个月","90"]],@cargo.expire) )%>   </div>-->

       <div class="controls">  <%= f.select(:expire,options_for_select(["0","1","2","15","30","60"],@cargo.expire) )%>  </div>
   </div>
    
   
    <div class="control-group">
     <label  class="control-label" for="cargo_option">组货方式*：</label>
    <div class="controls">  <%= f.select(:zuhuo,options_for_select($cargo_option_reverse.to_a,@cargo.zuhuo) )%>  </div>
    </div>
  
  <div class="control-group">
    <label  class="control-label">自有货源</label>
    <div class="controls"> <%= f.select(:isself,options_for_select([["自有货源","自有货源"],["委托货源","委托货源"],["其他货源","其他货源"]],@cargo.isself) )%>      </div>  </div>
  
    <div class="control-group">
    <label class="control-label">备注：</label>
     <div class="controls"> <%=f.text_area :comments,:rows=>5 %>   </div>
    </div>


    <div class="form-actions">
       <%= f.submit("确 定",:class=>"btn btn-primary") %>
    </div>   

 <%= f.hidden_field :status%>
<%= f.hidden_field :stock_cargo_id%>
<p>*号为必填项</p>

  <% end %>


<div>
<p id="notice"><%= notice %></p>
</div>
