<%#coding:utf-8%>
 <%unless @cargos.blank?%>

<table class="table table-striped">
  
  <tr>
   
    <th>货物</th>    
    <th>出发</th>
    <th>到达</th>
    <th>重量体积</th>
    <th>有效</th>   
     <th><%=t("rcargocommon.created_at")%></th>
    <th>货源状态</th>
   <th><%=t("rcargocommon.edit")%></th>
   <th><%=t("rcargocommon.destroy")%></th>
     <th>match che</th>
      <th><%=t("cargo.comments")%></th>
  </tr>
 
    <% @cargos.each do |cargo|  %>
      <tr>
       <td > <%=link_to cargo.name,cargo_path(cargo)%> </td>  
        <td ><%=cargo.fcityn%></td>
        <td ><%=cargo.tcityn%></td>
        <td ><%=cargo.weight%><%= cargo.unit%></td>
        <td ><%=cargo.expire%>天</td>      
        <td ><%= timeago(cargo.created_at)%></td>

        <%if cargo.status!="正在配车"%>
          <%= content_tag(:td,:style=>"background-color:#f38b8b;"){cargo.status}%>
        <%else%>
          <%= content_tag(:td,:style=>"background-color:#A9DB9A;"){cargo.status}%>
         <%end%>

        
        
        <td > <%= link_to t("rcargocommon.edit"),rcargo.edit_cargo_path(cargo)%></td>
           <td ><%= link_to t("rcargocommon.destroy"),rcargo.cargo_path(cargo),
                   :confirm => 'Are you sure?', :method => :delete %></td>
        <%if cargo.status!="正在配车"%>
          <td> <%=cargo.status%></td>
        <%else%>       
          <td ><a  class="btn btn-default" href="/trucks/search/<%=cargo.fcityc%>/<%=cargo.tcityc%>/1">车源速配</a></td>
        <%end%>
         <td ><%=cargo.comments%></td>
      </tr>
    <% end %>
      </table>
      <%else%>
<p>没有正在配车的货源,<a class="btn btn-primary" href="/users/stock_cargos"><b>马上创建货源</b></a></p>
  <% end %>
