<%#coding:utf-8%>
 <%unless @cargos.blank?%>
<table class="table table-striped">
  
  <tr>
   
    <th>货物</th>    
    <th>出发</th>
    <th>到达</th>
    <th>重量体积</th>
    <th>有效</th>
    <th><%=t("cargo.comments")%></th>
     <th><%=t("cargo.created_at")%></th>
    <th>货源状态</th>

  </tr>
 
    <% @cargos.each do |cargo|  %>
      <tr>
       <td > <a class ="show_float" href="/cargos/show/<%=cargo.id%>">
        <%= cargo.name %></a> </td>  
        <td ><%=cargo.fcityn%></td>
        <td ><%=cargo.tcityn%></td>
        <td ><%=cargo.weight%><%= cargo.unit%></td>
        <td ><%=cargo.expire%>天</td>
        <td ><%=cargo.comments%></td>
        <td ><%= raw t("common.created_at", :time => timeago(cargo.created_at))%></td>

        <%if cargo.status!="正在配车"%>
          <td   style="color:red;" ><%= cargo.status %></td>
        <%else%>
           <td > <%= cargo.status %></td>
         <%end%>
         <td ><a class="link_show" href="/cargos/quoteinquery/<%=cargo.id%>"</a></td>
     
        <%if cargo.status!="正在配车"%>
         <td> <%=cargo.status%></td>
        <%else%>
       
        <td ><a  class="btn btn-default" href="/trucks/search/<%=cargo.fcityc%>/<%=cargo.tcityc%>/1">车源速配</a></td>
        <%end%>
      </tr>
    <% end %>
      </table>
      <%else%>
<p>没有正在配车的货源,<a class="btn btn-primary" href="/users/stock_cargos"><b>马上创建货源</b></a></p>
  <% end %>
