<% if current_user %>
<ul class="nav secondary-nav" id="userbar">
  <%
    unread_count = current_user.notifications.unread.count
    notification_class = ["notifications"]
    notification_class << "unread" if unread_count > 0
    notification_class << "active" if ["notifications"].index(params[:controller])
  %>
  <%= content_tag 'li', :class => notification_class do %>
    <%= content_tag 'a', :href => ruser.notifications_path do %>
      <span class="count"><%= unread_count %></span>
    <% end %>
  <% end %>
  <li class="dropdown">
<!--
    <%= link_to(current_user.login,ruser.user_path(current_user.login), :class => "dropdown-toggle",:"data-toggle"=>"dropdown")%>-->
       <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=current_user.login%> <b class="caret"></b></a>
    <%= render_list :class => "dropdown-menu" do |li|
      li << link_to(t("menu.my_home_page"), ruser.user_path(current_user.login) )
      unless params[:controller].match(/cpanel/)
        li << link_to(t("menu.edit_account_path"),ruser.edit_user_registration_path)
       # li << link_to(t("menu.notes"), rforum.notes_path )
       # li << link_to(t("menu.likes"),ruser.likes_user_path(current_user.login))
       # li << link_to(t("menu.cpanel"), "/rforum/cpanel") if admin?
      end
      li << link_to(t("common.logout"), ruser.destroy_user_session_path )
    end %>
  </li>

<!--
  <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown 3 <b class="caret"></b></a>
                  <%= link_to(current_user.login,ruser.user_path(current_user.login), :class => "dropdown-toggle",:"data-toggle"=>"dropdown")%>
              <ul id="menu3" class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          -->
</ul>
<% else %>
  <%= render_list :class => "nav secondary-nav", :id => "userbar" do |li|
    li << link_to( t("common.register"),ruser.new_user_registration_path)
    li << link_to( t("common.login"), ruser.new_user_session_path )
  end %>
<% end %>