<%= simple_form_for(@stock_cargo,:html => {:class => "vertical-form"}) do |f| %>
<fieldset>
  <% if  @stock_cargo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_cargo.errors.count, "error") %> prohibited this stock_cargo from being saved:</h2>

      <ul>
      <% @stock_cargo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label t("cargo.cargo_name") %>
    <%= f.text_field :name%>
  </div>

  <div class="field">
    <%= f.label t("category.BigcargoCategory")%>
     <%= f.select(:big_cate,options_for_select($big_cate_hash.values,@cargo.big_cate) )%>
  </div>

  <div class="field">
    <%= f.label t("package.package")%>
      <%= f.select(:packagen,options_for_select($cargo_package.values,@cargo.packagen) )%>
  </div>

    <div class="field">
    <%= f.label t("stock_cargo.unit")%>
    <%= f.select(:unit,options_for_select(["吨","方","件","车","船","个"],@cargo.zuhuo) )%>
  </div>
 

 <%= f.hidden_field(:status) %>

  <div class="form-actions">
    <%= f.submit(:value=>"确定",:class=>"btn primary") %>
  </div>


<% end %>
