<div class="stock_cargolist">

  <%unless @stock_cargos.blank?%>
    <table class="table table-striped">
      <tr>
       
       <th><%=t("stock_cargo.stockcargoname")%></th>
       <th><%=t("category.BigcargoCategory")%></th>
       <th><%=t("package.package")%></th> 
        <th><%=t("stock_cargo.total_sented")%></th> 
        <th><%=t("stock_cargo.status")%></th>  
        
     <th><%=t("cargo.new_cargo")%></th> 
     <th><%=t("rcargocommon.edit")%></th>
     <th><%=t("rcargocommon.destroy")%></th>
      </tr>

      <% @stock_cargos.each do |stock_cargo| %>
        <tr>   
            <td><%=h stock_cargo.name %></td>   
            <td><%=h stock_cargo.big_cate %></td> 
            <td><%=h stock_cargo.packagen %></td>  
            <td><%=h stock_cargo.totals %><%=h stock_cargo.unit%></td>    
         
   

    <%if stock_cargo.status!="正在配车"%>
          <td><span class="badge badge-warning"> <%=stock_cargo.status%></span></td>
        <%else%>
          <td><span class="badge badge-success"> <%=stock_cargo.status%></span></td>
          <%end%>

             <td>
                 <%=link_to t("cargo.new_cargo") ,new_stock_cargo_cargo_path(stock_cargo) %>
          </td>
         <td>
            <%=link_to t("rcargocommon.edit"),edit_stock_cargo_path(stock_cargo) %>
          </td>

           <td><%= link_to t("rcargocommon.destroy"), stock_cargo, :confirm => "are your sure?", :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  <%else%>
    <p><%=t("stock_cargo.hints_for_empty_stock_cargo")%></p>
  <% end %>

  <%= will_paginate @trucks ,:class=>"page_navi_link"%>

  <%=link_to t("stock_cargo.new_stock_cargo"),new_stock_cargo_path,:class=>"btn btn-primary"%>


</div>

