
<div class="show_stock_cargo">


       <li><%=t("cargo.cargo_name")%>:<%= @stock_cargo.name%></li>
       <li><%=t("category.BigcargoCategory")%>: <%= @stock_cargo.big_cate %></li>
       <li><%=t("package.package")%>:<%= @stock_cargo.packagen %></li> 
       <li><%=t("stock_cargo.total_sented")%>:<%= @stock_cargo.totals %>  <%= @stock_cargo.unit%></li> 
       <li><%=t("stock_cargo.status")%> <%= @stock_cargo.status%></li> 
</div>

