<h1>Home#root</h1>
<p>Find me in app/views/rcargo/home/root.html.erb</p>

<h4>Home</h4>

<p><%=link_to "Home",home_root_path%></p>

<h4>cargoCategory</h4>
<p><%=link_to "cargoCategory",cargo_categories_path%></p>
<p><%=link_to "new",new_cargo_category_path%></p>

<h4>StockCargo</h4>

<p><%=link_to "StockCargos ",stock_cargos_path%></p>
<p><%=link_to "new",new_stock_cargo_path%></p>

<h4>Cargos</h4>

<p><%=link_to "Cargos ",cargos_path%></p>
<p><%=link_to "new",new_cargo_path%></p>