<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @province.code %>
</p>

<p>
  <b>Name:</b>
  <%= @province.name %>
</p>

<p>
  <b>Lat:</b>
  <%= @province.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @province.lng %>
</p>

<p>
  <b>Coordinates:</b>
  <%= @province.coordinates %>
</p>

<p>
  <b>Loc:</b>
  <%= @province.loc %>
</p>

<p>
  <b>Address:</b>
  <%= @province.address %>
</p>


<%= link_to 'Edit', edit_province_path(@province) %> |
<%= link_to 'Back', provinces_path %>
